@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
    @model IPagedList<NoteMarketPlace.Models.PublishedNoteDetails>
}









<!-- published note -->
<section id="a-published-note">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="page-heading">Dashboard</p>

            </div>

            <div class="col-md-4 col-sm-4">
                <div class="earning">
                    <div class="div-content text-center">
                        <p>@ViewBag.noteForReview</p>
                        <p>Numbers of Notes in Review for Publish</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="earning">
                    <div class="div-content text-center">
                        <p>@ViewBag.lastWeekDownload</p>
                        <p>
                            Numbers of
                            Notes Downloaded
                        </p>
                        <p>(Last 7 Days)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="earning">
                    <div class="div-content text-center">
                        <p>@ViewBag.lastWeekNewUser</p>
                        <p>Numbers of New Registration</p>
                        <p>(Last 7 Days)</p>
                    </div>
                </div>
            </div>


            <div class="col-md-3">
                <p class="page-heading">Published Note</p>


            </div>

            <div class="col-md-2"></div>
            <div style="padding:0">
                @using (Html.BeginForm("Index", "Admin", FormMethod.Get))
                {
                    <div class="col-md-2 col-sm-2">

                        <input class="form-control " placeholder="Search..." value="@ViewBag.Search" type="text" name="search" id="published_search">

                    </div>
                    <div class="col-md-2 col-sm-2">
                        <input class="btn btn-work" type="submit" value="Search" />

                    </div>
                    <div class="col-md-2 col-sm-2">
                    <select name="month" id="month" class="form-control" onchange="publishedFilterMonth(this)">
                            <option value="">
                                select month
                            </option>
                            <option value="1">
                                January
                            </option>
                            <option value="2">
                                February
                            </option>
                            <option value="3">
                                March
                            </option>
                            <option value="4">
                                April
                            </option>
                            <option value="5">
                                May
                            </option>
                            <option value="6">
                                June
                            </option>
                            <option value="7">
                                July
                            </option>
                            <option value="8">
                                August
                            </option>
                            <option value="9">
                                September
                            </option>
                            <option value="10">
                                October
                            </option>
                            <option value="11">
                                November
                            </option>
                            <option value="12">
                                December
                            </option>
                        </select>
                    </div>

                }
            </div>
              



            <div class="col-md-12">
                <div class="all-admin-table table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">SR NO.</th>
                                <th scope="col">TITLE</th>
                                <th scope="col">CATEGORY</th>
                                <th scope="col">ATTACHMENT SIZE</th>
                                <th scope="col">SELL TYPE</th>
                                <th scope="col">PRICE</th>
                                <th scope="col">PUBLISHER</th>

                                <th scope="col">PUBLISHED DATE</th>
                                <th scope="col">NUMBER OF DOWNLOADS</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>


                            @if (!Model.Any())
                            {
                                <tr><td>No Data Found</td></tr>
                            }
                            else
                            {
                                int i = ViewBag.Count - 1;
                                float size;
                                foreach (var item in Model)
                                {
                                    i = i + 1;
                                    size = item.AttachmentSize;

                                    <tr>

                                        <td style="display:none">@item.id</td>
                                        <td>@i</td>
                                        <td>@item.Title</td>
                                        <td>@item.categoryName</td>
                                        <td>@size MB</td>
                                        @if (item.IsPaid)
                                        {
                                            <td>Free</td>

                                        }
                                        else
                                        {
                                            <td>Free</td>

                                        }
                                        <td>$ @item.sellingPrice</td>
                                        <td>@item.sellerName</td>
                                        <td>@item.PublishedDate</td>
                                        <td>@item.totalDownloads</td>
                                        <td>

                                            <div id="dots" class="dropdown">

                                                <img class="dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="~/img/Dashboard/dots.png" />
                                                <div class="dropdown-menu  dropdown-menu-right">
                                                    <button class="text-left dropdown-item nav-dropdown-item" onclick="location.href='/Admin/adminDownload/@item.id'">DownLoad Note</button>
                                                    <button class="text-left dropdown-item nav-dropdown-item" onclick="location.href='/User/showBook/@item.id'">View Details</button>

                                                    <button class="text-left dropdown-item nav-dropdown-item unpublish-btn">UnPublish</button>
                                                </div>
                                            </div>

                                        </td>
                                    </tr>
                                }

                            }









                            <!-- </thead> -->
                        </tbody>
                    </table>


                </div>
                <div class="text-center">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                </div>

            </div>



        </div>
    </div>


</section>

<div id="Unpublish-popup" class="modal">

        <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>

        <p class="popup-heading">Some text in the Modal..</p>
        <form action="/Admin/Unpublish" method="post">
            <input type="hidden" name="noteId" value="" />
            <p>Are you sure you want to unpublish this book, you cannot update it later?</p>
            <textarea class="form-control" placeholder="Issues..." name="noteIssues" id="noteIssue" required rows="5"></textarea>
            <p id="msg" style="color:red"></p>
            <br />
            <div class="text-right">
                <Button class="btn btn-success" id="confirm-unpublish">&nbsp;Yes&nbsp;</Button>

                <a class="btn btn-danger close-btn">&nbsp;No&nbsp;</a>
            </div>
        </form>
    </div>

    </div>

<!-- published notes ends-->







<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/custom/Aindex.js"> </script>