@{
    ViewBag.Title = "systemConfig";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
    @model NoteMarketPlace.Models.systemConfig
}


<!-- system config -->
<section id="system-config">
    @using (Html.BeginForm("systemConfig", "Admin", FormMethod.Post, new
    {
        enctype = "multipart/form-data"
    }))
    {
        @Html.AntiForgeryToken()
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="page-heading">Manage System Configuration</p>

                </div>
                <div class="col-md-6 inside-col">
                    <div class="col-md-12">
                        <div class="form-group">
                            <p>Support emails address*</p>

                            @Html.EditorFor(model => model.supportEmialID, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter support email Address", @Value = ViewBag.supportEmail } })
                            @Html.ValidationMessageFor(model => model.supportEmialID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <p>Support phone number*</p>
                            @Html.EditorFor(model => model.supportPhnNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter support Phone No.", @Value = ViewBag.supportPhnNo } })
                            @Html.ValidationMessageFor(model => model.supportPhnNo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <p>Email address(es) (for various events system will send notification to these users)*</p>
                            @Html.EditorFor(model => model.notificationEmailID, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Email address", @Value = ViewBag.notificationEmailID } })
                            @Html.ValidationMessageFor(model => model.notificationEmailID, "", new { @class = "text-danger" })

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <p>Facebook URL*</p>
                            @Html.EditorFor(model => model.FacebookURL, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Facebook URL", @Value = ViewBag.FacebookURL } })
                            @Html.ValidationMessageFor(model => model.FacebookURL, "", new { @class = "text-danger" })

                        </div>

                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <p>Twitter URL*</p>
                            @Html.EditorFor(model => model.TwitterURL, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Twitter URL", @Value = ViewBag.TwitterURL } })
                            @Html.ValidationMessageFor(model => model.TwitterURL, "", new { @class = "text-danger" })

                        </div>

                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <p>Linkedin URL*</p>
                            @Html.EditorFor(model => model.LinkedinURL, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter LinkedIn Url", @Value = ViewBag.LinkedinURL } })
                            @Html.ValidationMessageFor(model => model.LinkedinURL, "", new { @class = "text-danger" })

                        </div>

                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <p>Default image for notes (if seller do not upload)</p>

                            @if (ViewBag.defaultNoteImg == null)
                            {
                                <input type="file" style="display: none" id="display-note-pic" class="form-control" name="defaultNoteImg">
                                @Html.ValidationMessageFor(model => model.defaultNoteImg, "", new { @class = "text-danger" })
                                <label for="display-note-pic" class="form-control upload-label text-center upload" style="cursor:pointer">
                                    <img src="../img/Dashboard/upload-note.svg" alt="Upload" />
                                    <p>Upload  picture</p>
                                </label>
                            }
                            else
                            {

                                <input type="file" style="display: none" id="display-note-pic" class="form-control" name="defaultNoteImg">
                                @Html.ValidationMessageFor(model => model.defaultNoteImg, "", new { @class = "text-danger" })
                                <label for="display-note-pic" class="form-control upload-label text-center upload" style="cursor:pointer">
                                     <img src="data:image/jpeg;base64,@ViewBag.defaultNoteImg" alt="Upload" style="padding:0;height:70px;width:40%" class="img-responsive" />

                                  
                                </label>
                               

                            }

                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <p>Default profile picture (if seller do not upload)</p>
                            @if (ViewBag.UserProfile == null)
                            {
                                <input type="file" style="display: none" id="display-profile-pic" class="form-control" name="defaultProfilePic">
                                @Html.ValidationMessageFor(model => model.defaultProfilePic, "", new { @class = "text-danger" })
                                <label for="display-profile-pic" class="form-control upload-label text-center upload" style="cursor:pointer">
                                    <img src="../img/Dashboard/upload-note.svg" alt="Upload" />
                                    <p>Upload Display picture</p>
                                </label>
                            }
                            else
                            {
                                <input type="file" style="display: none" id="display-profile-pic" class="form-control" name="defaultProfilePic">
                                @Html.ValidationMessageFor(model => model.defaultProfilePic, "", new { @class = "text-danger" })
                                <label for="display-profile-pic" class="form-control upload-label text-center upload" style="cursor:pointer">
                                    <img src="data:image/jpeg;base64,@ViewBag.UserProfile" alt="Upload"  style="padding:0;height:70px;width:40%" class="img-responsive" />
                                 
                                </label>

                            }
                        </div>
                    </div>

                    <div class="col-md-12">
                        <button class="btn btn-work btn-add-note">Submit</button>
                    </div>



                </div>

            </div>
        </div>
    }


</section>

<!-- system config ends -->