@model IEnumerable<NoteMarketPlace.Models.MultipleData>
@{
    ViewBag.Title = "BuyerRequest";
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section id="buyer-request">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="page-heading"> Buyer Request</p>

            </div>
            

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-8" >

                        <input class="form-control search-input" placeholder="Search..." type="text">

                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4 text-right" id="search">
                        <a class="btn-general btn-work smooth-scroll" title="search" role="button">Search</a>

                    </div>
                </div>
                
            </div>
            <div class="col-md-12">
                <div class="all-category-table table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-center" scope="col">SR NO.</th>
                                <th class="text-center" scope="col">NOTE TITLE</th>
                                <th class="text-center" scope="col">CATEGORY</th>
                                <th class="text-center" scope="col">BUYER</th>
                                <th class="text-center" scope="col">PHONE NO.</th>
                                <th class="text-center" scope="col">SELL TYPE</th>
                                <th class="text-center" scope="col">PRICE</th>

                                <th class="text-center" scope="col">DOWNLOADED DATE/TIME</th>
                                <th></th>
                                <th></th>
                            </tr>

                        </thead>
                        <tbody>



                            @{ int i = 0; }
                            @foreach (var item in Model)
                            {
                                string a = "";

                                i = i + 1;
                                <tr>
                                    <td>
                                        @i
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.download.NoteTitle)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.download.NoteCategory)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.User.EmailID)
                                    </td>

                                    <td>
                                        @{
                                            a = item.userProfile.PhoneNumber_CountryCode;
                                            a += "-";
                                            a += item.userProfile.PhoneNumber;
                                        }
                                        @a
                                    </td>
                                    @{

                                        bool isPaid = item.download.IsPaid;
                                        if (isPaid)
                                        {
                                            <td>Paid</td>

                                        }
                                        else
                                        {
                                            <td>Free</td>
                                        }

                                    }
                                    <td>
                                        @Html.DisplayFor(modelItem => item.download.PurchasedPrice)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.download.CreatedDate)
                                    </td>
                                    
                                    <td>
                                     
                                        <a class="link-margin" href="#"><img src="../img/dashboard/eye.png"></a>
                                    </td>
                                    <td class="dropdown">

                                        <div id="dots" class="mynav-dropdown ">
                                            <img class="dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="~/img/Dashboard/dots.png" />
                                            <div class="dropdown-menu buyer-request-menu mynav-dropdown-content dropdown-menu-right ">
                                                <button class="text-left dropdown-item nav-dropdown-item" onclick="location.href='/User/BuyerAllowed/@item.download.ID'">Yes, I Received</button>
                                            </div>
                                        </div>

                                    </td>

                                </tr>
                            }




                            <!-- </thead> -->
                        </tbody>
                    </table>


                </div>
                <div class="text-center">
                     <ul class="pagination">
                        <li class="disabled"><a href="#">«</a></li>
                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                       
                </div>

            </div>

        </div>
    </div>

</section>
