@using PagedList
@using PagedList.Mvc
@model IPagedList<NoteMarketPlace.Models.MultipleData>
@{
    ViewBag.Title = "downloads";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="over">
    <img src="~/img/preloader/loading.gif" id="loading-gif" alt="Loading" class="img-responsive" />
</div>
<section id="my-downloads">


    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <p class="page-heading">My Downloads</p>

            </div>


            <div class="col-md-5">

                @using (Html.BeginForm("downloads", "User", FormMethod.Get))
                {
                    <div class="col-md-8 col-sm-8 col-xs-8">

                        <input name="search" class="form-control search-input" placeholder="Search..." type="text" value="@ViewBag.search">

                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4" id="search">
                        <input class="btn btn-work" type="submit" value="Search" />

                    </div>
                }



            </div>
            <div class="col-md-12">
                <div class="all-category-table table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-center" scope="col">SR NO.</th>
                                <th class="text-center" scope="col">NOTE TITLE</th>
                                <th class="text-center" scope="col">CATEGORY</th>
                                <th class="text-center" scope="col">BUYER</th>
                                <th class="text-center" scope="col">SELL TYPE</th>
                                <th class="text-center" scope="col">PRICE</th>

                                <th class="text-center" scope="col">DOWNLOADED DATE/TIME</th>
                                <th></th>
                                <th></th>
                            </tr>

                        </thead>
                        <tbody>


                            @if (!Model.Any())
                            {
                                <tr><td>No Data Found</td></tr>
                            }
                            else
                            {
                                int i = ViewBag.Count - 1;
                                foreach (var item in Model)
                                {


                                    i = i + 1;
                                    <tr>
                                        <td style="display:none;">@item.download.NoteID</td>
                                        <td>
                                            @i
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.download.NoteTitle)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.download.NoteCategory)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.User.EmailID)
                                        </td>

                                        @{

                                bool isPaid = item.download.IsPaid;
                                if (isPaid)
                                {
                                                <td>Paid</td>

                                }
                                else
                                {
                                                <td>Free</td>
                                }

                                        }
                                        <td>
                                            @Html.DisplayFor(modelItem => item.download.PurchasedPrice)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.download.CreatedDate)
                                        </td>

                                        <td>

                                            <a class="link-margin" href="/User/showBook/@item.download.NoteID"><img src="../img/dashboard/eye.png"></a>
                                        </td>
                                        <td>
                                            <div id="dots" class="dropdown">

                                                <img class="dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="~/img/Dashboard/dots.png" />
                                                <div class="dropdown-menu  dropdown-menu-right ">
                                                    <button class="text-left dropdown-item nav-dropdown-item" onclick="location.href='/User/downloadBook/@item.download.ID'">Download Note</button>
                                                    <button class="text-left dropdown-item nav-dropdown-item" onclick="addReview(@item.download.ID)">Add Reviews/Feedback</button>
                                                    <button class="text-left dropdown-item nav-dropdown-item spam-btn">Report as Inappropriate</button>
                                                </div>
                                            </div>


                                        </td>

                                    </tr>
                                    }


                                }

                                <!--  #codebyChandreshMendapara -->
                            </tbody>
                    </table>


                </div>
                <div class="text-center">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                    @Html.PagedListPager(Model, page => Url.Action("downloads", new { page }))

                </div>


            </div>

        </div>
    </div>

    <!--<div id="Buying-popup" class="modal">

        <!-- Modal content
        <div class="modal-content">
            <span class="close">&times;</span>

            <p class="popup-heading">Some text in the Modal..</p>
            <input type="hidden" name="Id" value="" />
            <p>
                Are you
                sure you want to download this Paid note? Please confirm.
            </p>

            <div class="text-right">
                <input type="button" class="btn btn-success" id="confirm-download" value="Yes">

                <a class="btn btn-default close-btn">&nbsp;No&nbsp;</a>
            </div>

        </div>

    </div>-->

    <div id="download-review" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>

            <p id="review-heading"> Add Review</p>




            <p id="add-book-review-star" class="book-review-star"> <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="false"></i></p>


            <div class="form-group">
                <p>Comments*</p>
                <textarea placeholder="Comments..." class="form-control" id="text-area" name="rejectRemark" required style="max-width:400px; height:150px"></textarea>



            </div>
            <div>
                <Button class="btn btn-work">&nbsp;Submit&nbsp;</Button>
            </div>

        </div>
    </div>


    <div id="Report-popup" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>

            <p class="popup-heading">Some text in the Modal..</p>

            <input type="hidden" name="noteId" value="" />
            <p>Are you sure you want to mark this report as spam, you cannot update it later?</p>
            <textarea class="form-control" placeholder="Issues..." name="noteIssues" id="noteIssue" required rows="5"></textarea>
            <p id="msg" style="color:red"></p>
            <br />
            <div class="text-right">
                <Button class="btn btn-success" id="confirm-spam">&nbsp;Yes&nbsp;</Button>

                <a class="btn btn-danger close-btn">&nbsp;No&nbsp;</a>
            </div>

        </div>

    </div>




</section>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/custom/downloads.js">
</script>