@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "published";
    @model IPagedList<NoteMarketPlace.Models.MultipleData>
}

<div class="published">
    <div class="row">
        <div class="col-md-7 col-sm-7 col-xs-12">
            <p>Published Notes</p>

        </div>
        <div class="col-md-5 col-sm-5 col-xs-12 text-right">
            <div class="dashboard-search">
                @using (Html.BeginForm("Index", "User", FormMethod.Get))
                {
                    <div class="col-md-8 col-sm-8 col-xs-8">

                        <input name="y" class="form-control search-input" placeholder="Search..." type="text" value="@ViewBag.search">

                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4" id="search">
                        <input class="btn btn-work" type="submit" value="Search" />

                    </div>
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="published-table table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ADDED DATE</th>
                            <th scope="col">TITLE</th>
                            <th scope="col">CATAGORY</th>
                            <th scope="col">SELL TYPE</th>
                            <th scope="col">PRICE($)</th>
                            <th scope="col">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (!Model.Any())
                        {
                            <tr>
                                <td>No data Found</td>
                            </tr>

                        }
                        else
                        {
                            foreach (var n in Model)
                            {



                                <tr>
                                    <td>@n.sellerNote.CreatedDate</td>
                                    <td class="title">@Html.DisplayFor(modelItem => n.sellerNote.Title)</td>
                                    <td>@Html.DisplayFor(modelItem => n.NoteCategory.Name)</td>

                                    @if (n.sellerNote.IsPaid)
                                    {
                                        <td>Paid</td>
                                    }
                                    else
                                    {
                                        <td>Free</td>
                                    }
                                    <td>@Html.DisplayFor(modelItem => n.sellerNote.SellingPrice)</td>
                                    <td><a class="link-margin" href="/User/showBook/@n.sellerNote.ID"><img src="~/img/dashboard/eye.png"></a></td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
            <div class="text-center">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                @Html.PagedListPager(Model, published => Url.Action("Index", new { published }))

            </div>
        </div>

    </div>

</div>

