







@model IEnumerable<NoteMarketPlace.Models.MultipleData>
@{
    ViewBag.Title = "showBook";
}


<section id="myNav">

    @foreach (var item in Model)
    {
        <div class="note-details">
            <div class="container">

                <div class="row">
                    <div class="col-md-6">
                        <p id="note-details">Notes Details</p>
                        <div class="row">
                            <div class="col-md-5 col-sm-5">
                                <img class="img-responsive book-cover-photo" style="height:210px" src="~/img/home/banner.jpg" alt="xyz">
                            </div>
                            <div class="col-md-7 col-sm-7">
                                <p id="note-name">@item.sellerNote.Title</p>
                                <p id="sub-name">@item.NoteCategory.Name</p>
                                <p id="discription">@item.sellerNote.Description</p>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a class="btn btn-general btn-work" onclick="Selling(@item.sellerNote.ID);" title="Download" role="button">Download/ $<span id="book-price">@item.sellerNote.SellingPrice</span> USD</a>
                                }
                                else
                                {
                                    <a class="btn btn-general btn-work" href="/Login" title="Download" role="button">Download/ $<span id="book-price">@item.sellerNote.SellingPrice</span> USD</a>


                                }
                            </div>

                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="row notes-right">
                            <div class="row">
                                <div class="text-left col-md-5 col-sm-5 col-xs-5">
                                    <p>Institution:</p>
                                </div>
                                <div class="text-right col-md-7 col-sm-7 col-xs-7">

                                    @if (item.sellerNote.UniversityName != null)
                                    {
                                        <p id="uni-name" class="note-ans">
                                            @item.sellerNote.UniversityName
                                        </p>
                                    }
                                    else
                                    {
                                        <p id="uni-name" class="note-ans">
                                            No Data found
                                        </p>

                                    }

                                </div>
                                <div class="text-left col-md-5 col-sm-5 col-xs-5">
                                    <p>Country:</p>
                                </div>
                                <div class="text-right col-md-7 col-sm-7 col-xs-7">
                                    @if (item.Country.Name != null)
                                    {
                                        <p class="note-ans">
                                            @item.Country.Name
                                        </p>
                                    }
                                    else
                                    {
                                        <p class="note-ans">
                                            No Data found
                                        </p>

                                    }
                                </div>
                                <div class="text-left col-md-5 col-sm-5 col-xs-5">
                                    <p>Course Name:</p>
                                </div>
                                <div class="text-right col-md-7 col-sm-7 col-xs-7">
                                    @if (item.sellerNote.Course != null)
                                    {
                                        <p class="note-ans">
                                            @item.sellerNote.Course
                                        </p>
                                    }
                                    else
                                    {
                                        <p class="note-ans">
                                            No Data found
                                        </p>

                                    }
                                </div>
                                <div class="text-left col-md-5 col-sm-5 col-xs-5">
                                    <p>Course Code:</p>
                                </div>
                                <div class="text-right col-md-7 col-sm-7 col-xs-7">
                                    @if (item.sellerNote.CourseCode != null)
                                    {
                                        <p class="note-ans">
                                            @item.sellerNote.CourseCode
                                        </p>
                                    }
                                    else
                                    {
                                        <p class="note-ans">
                                            No Data found
                                        </p>

                                    }
                                </div>
                                <div class="text-left col-md-5 col-sm-5 col-xs-5">
                                    <p>Professor:</p>
                                </div>
                                <div class="text-right col-md-7 col-sm-7 col-xs-7">
                                    @if (item.sellerNote.Professor != null)
                                    {
                                        <p class="note-ans">
                                            @item.sellerNote.Professor
                                        </p>
                                    }
                                    else
                                    {
                                        <p class="note-ans">
                                            No Data found
                                        </p>

                                    }
                                </div>
                                <div class="text-left col-md-5 col-sm-5 col-xs-5">
                                    <p>Pages:</p>
                                </div>
                                <div class="text-right col-md-7 col-sm-7 col-xs-7">
                                    @if (item.sellerNote.NumberofPages != null)
                                    {
                                        <p class="note-ans">
                                            @item.sellerNote.NumberofPages
                                        </p>
                                    }
                                    else
                                    {
                                        <p class="note-ans">
                                            No Data found
                                        </p>

                                    }
                                </div>
                                <div class="text-left col-md-5 col-sm-5 col-xs-5">
                                    <p>Approved Date:</p>
                                </div>
                                <div class="text-right col-md-7 col-sm-7 col-xs-7">
                                    @if (item.sellerNote.PublishedDate != null)
                                    {
                                        <p class="note-ans">
                                            @item.sellerNote.PublishedDate
                                        </p>
                                    }
                                    else
                                    {
                                        <p class="note-ans">
                                            No Data found
                                        </p>

                                    }
                                </div>
                                <div class="text-left col-md-5 col-sm-5 col-xs-5">
                                    <p>Rating:</p>
                                </div>
                                <div class="text-right col-md-7 col-sm-7 col-xs-7">
                                    <p id="Rating" class="note-ans"> <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="false"></i> Review</p>
                                </div>
                                <div id="user-report-book" class="text-left col-md-12 col-sm-12 col-xs-12">
                                    <p><span>5</span> User marked this note as inappropriate</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="col-md-5">
                    <div class="col-md-12">
                        <p class="note-preview">Notes Preview</p>
                    </div>
                    <div class="col-md-12">
                        <div class="preview-page text-center">
                            <p>1/13</p>
                            <img class="img-responsive" src="~/img/home/banner.jpg" alt="book preview">
                        </div>

                    </div>
                </div>
                <div class="col-md-7">
                    <div class="col-md-12">
                        <p class="note-preview">Customers Review</p>
                    </div>
                    <div class="col-md-12 review-page">

                        <div class="col-md-2">
                            <img class="img-responsive img-circle" src="~/img/home/customer-1.png" alt="custoer-photo">
                        </div>

                        <div class="col-md-10">
                            <div class="rating-info">
                                <p>
                                    Name <br>
                                    <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="false"></i>
                                    <br>
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis fugiat maxime distinctio eius blanditiis.
                                </p>
                            </div>

                        </div>
                        <div class="col-md-12">
                            <hr>
                        </div>
                        <div class="col-md-2">
                            <img class="img-responsive img-circle" src="~/img/home/customer-1.png" alt="custoer-photo">
                        </div>

                        <div class="col-md-10">
                            <div class="rating-info">
                                <p>
                                    Name <br>
                                    <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="false"></i>
                                    <br>
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis fugiat maxime distinctio eius blanditiis.
                                </p>
                            </div>

                        </div>
                        <div class="col-md-12">
                            <hr>
                        </div>
                        <div class="col-md-2">
                            <img class="img-responsive img-circle" src="~/img/home/customer-1.png" alt="custoer-photo">
                        </div>

                        <div class="col-md-10">
                            <div class="rating-info">
                                <p>
                                    Name <br>
                                    <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="false"></i>
                                    <br>
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis fugiat maxime distinctio eius blanditiis.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>




        break;

    }



    <div id="Buying-popup" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>

            <p class="popup-heading">Some text in the Modal..</p>
            <input type="hidden" name="Id" value="" />
            <p>
                Are you
                sure you want to download this Paid note? Please confirm.
            </p>

            <div class="text-right">
                <input type="button" class="btn btn-success" id="confirm-download" value="Yes">

                <a class="btn btn-default close-btn">&nbsp;No&nbsp;</a>
            </div>

        </div>

    </div>
    <div id="confirm-popup" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
  
            <p class="confirm-body">
                Hey, thank you for purchasing the note.<br />As this is paid notes - you need to pay the amount to seller <span id="seller-name">seller Name</span>
                offline in order to download the note.<br />
                We will send Seller an email that you want to download this note. Seller may contact you
                further for payment process completion. In case, you have urgency, please contact us on
                this number.<br /> Once Seller receives the payment and acknowledge us - selected notes you can see over
                my downloads tab for download.
                            <br />Have a good day.
            </p>

            <div class="text-right">

                <a class="btn btn-success close-btn">&nbsp;OK&nbsp;</a>
            </div>

        </div>

    </div>

    <div id="thank-you">
        <a href="javascript:void(0)" class="closebtn" onclick="closeThanku()">&times;</a>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto molestiae ab, autem incidunt ut porro excepturi, rerum! Eaque ratione nihil sed exercitationem inventore amet, odio porro itaque, architecto, pariatur natus.
        </p>
    </div>
</section>
