@model NoteMarketPlace.Context.tblUser

@{
    ViewBag.Title = "SignUp";
}


<!-- SignUp Section -->

    <section id="signup" class="signup-overlay">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="signup-parent">
                <div class="signup-child" >
                    <img class="img-responsive" src="../img/home/top-logo.png" alt="">
                    <div class="signup-details" >
                        <div class="text-center">
                            <p>create an Account</p>
                            <p>Enter your details to signup</p>
                        </div>
                        <div class="container" >
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group dis">
                                        <p>First Name*</p>
                                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @id = "fname", @class = "form-control", @placeholder = "Enter your First Name" } })
                                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })


                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group dis">
                                        <p>Last Name*</p>
                                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @id = "lname", @class = "form-control", @placeholder = "Enter your Last Name" } })
                                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group dis">
                                        <p>Email*</p>
                                        @Html.EditorFor(model => model.EmailID, new { htmlAttributes = new { @id = "email", @class = "form-control", @placeholder = "Enter Your Email" } })
                                        @Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "text-danger" })
                                        <div class="col-md-12">
                                            <div class="form-group error">

                                                @if (@ViewBag.NotValidEmail != null)
                                                {

                                                    <label style="color:#A94442"> @ViewBag.NotValidEmail</label>
                                                }

                                            </div>

                                        </div>


                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group dis">
                                        <p>Password</p>
                                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @id = "pswd", @class = "form-control", @type = "password", @placeholder = "Enter your Password" } })
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })


                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group dis">
                                        <p>Re-enter Password</p>
                                        @Html.EditorFor(model => model.RePassword, new { htmlAttributes = new { @id = "repswd", @class = "form-control", @type = "password", @placeholder = "Enter your Password again" } })
                                        @Html.ValidationMessageFor(model => model.RePassword, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group error">

                                        @if (@ViewBag.NotValidPassword != null)
                                        {

                                            <label style="color:#A94442"> @ViewBag.NotValidPassword</label>
                                        }

                                    </div>

                                </div>
                                <div class="col-md-12">
                                    <div class="form-group dis">

                                        <Button class="form-control">
                                            signup
                                        </Button>
                                    </div>
                                </div>
                                <div class="col-md-12 no-account">
                                    <p>Allready have an account? <span>@Html.ActionLink("Login", "", "Login")</span></p>

                                </div>
                            </div>

                        </div>
                    </div>


                </div>

            </div>
        }
    </section>


<!-- SignUp Section Ends -->
