@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "searchNote";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model IPagedList<NoteMarketPlace.Models.MultipleData>
}



<section id="search-notes">
    <div class="search-heading">
        <img src="../img/home/banner-with-overlay-home.jpg" class="search-img img-responsive" alt="">
        <div class="centered">Search Notes</div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 s-title">
                <p>Search and Filter notes</p>
            </div>
        </div>
        <div class="note-filter">
            <div class="row">
                <div class="col-md-12 col-sm-4 col-xs-12">
                    <input id="search-note-input" type="search" placeholder="&#xf002  Search notes here..." value="@ViewBag.SearchInput">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-4 col-xs-6">
                    @Html.DropDownList("NoteType", ViewBag.NoteType as SelectList, "Select Type", new { @class = "form-control", @onchange = "filterBook(this)" })
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    @Html.DropDownList("NoteCategory", ViewBag.NoteCategory as SelectList, "Select Category", new { @class = "form-control", @onchange = "filterBook(this)" })
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    @Html.DropDownList("University", ViewBag.University as SelectList, "Select University", new { @class = "form-control", @onchange = "filterBook(this)" })
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    @Html.DropDownList("Course", ViewBag.Course as SelectList, "Select Course", new { @class = "form-control", @onchange = "filterBook(this)" })
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    @Html.DropDownList("Country", ViewBag.Country as SelectList, "Select Country", new { @class = "form-control", @onchange = "filterBook(this)" })
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    @Html.DropDownList("Rating", ViewBag.Rating as SelectList, "Select Rating", new { @class = "form-control", @onchange = "filterBook(this)" })

                </div>
            </div>
        </div>
    </div>
    <div class="search-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12 s-title">

                    <p> Total <span>@ViewBag.Count</span> notes</p>

                </div>
            </div>
            <div class="books">
                <div class="row">

                    @foreach (var item in Model)
                    {

                        <a href="@Url.Action("showBook","User", new { id = item.sellerNote.ID })">

                            <div class="col-md-4 col-sm-6">

                                <div class="book">

                                    @if (item.sellerNote.DisplayPicture != null)
                                    {

                                        <img class="img-responsive book-cover-photo" style="height:210px" src="data:image/jpeg;base64,@item.sellerNote.DisplayPicture" alt="Book Cover Photo">
                                    }
                                    else
                                    {
                                        <img class="img-responsive book-cover-photo" style="height:210px" src="data:image/jpeg;base64,@ViewBag.daefaultNoteImg" alt="Book Cover Photo">


                                    }


                                    <div class="book-detail">
                                        <p id="book-name">@item.sellerNote.Title</p>
                                        <div class="deep-discription">
                                            <div class="row">
                                                <div class="col-md-2 col-sm-2 col-xs-2">
                                                    <i class="fa fa-university"> </i>
                                                </div>
                                                <div class="col-md-10 col-sm-10 col-xs-10">

                                                    @item.sellerNote.UniversityName , @item.Country.Name
                                                    &nbsp;
                                                </div>
                                                <div class="col-md-2 col-sm-2 col-xs-2">
                                                    <i class="fa fa-book"> </i>
                                                </div>
                                                <div class="col-md-10 col-sm-10 col-xs-10">
                                                    @item.sellerNote.NumberofPages, Pages
                                                    &nbsp;
                                                </div>
                                                <div class="col-md-2 col-sm-2 col-xs-2">
                                                    <i class="fa fa-calendar"> </i>
                                                </div>
                                                <div class="col-md-10 col-sm-10 col-xs-10">
                                                    @item.sellerNote.CreatedDate
                                                </div>
                                                <div class="col-md-2 col-sm-2 col-xs-2">
                                                    <i class="fa fa-flag"> </i>
                                                </div>
                                                <div class="col-md-10 col-sm-10 col-xs-10">
                                                    Users report about book
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </a>
                    }











                </div>
                <div class="text-center">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                    @Html.PagedListPager(Model, page => Url.Action("searchNote", new { page }))

                </div>
            </div>
        </div>
    </div>




</section>


<!-- Search Notes Ends -->
<!-- Book detais in deep-->
<!-- Book detais in deep end-->
