@model IEnumerable<NoteMarketPlace.Models.Contact>

@{
    ViewBag.Title = "UserQuery";
}


<link href="~/Content/admin-style.css" rel="stylesheet" />
<section>
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <p class="page-heading"> User Query</p>

            </div>
            <div class="col-md-12">
                <div class="all-type-table table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-center" scope="col">SR NO.</th>
                                <th class="text-center" scope="col">NAME</th>
                                <th class="text-center" scope="col">EMAIL</th>
                                <th class="text-center" scope="col">SUBJECT</th>
                                <th class="text-center" scope="col">MESSAGE</th>

                                <th class="text-center" scope="col">ACTION</th>
                            </tr>
                        </thead>

                        @{ int i = 0; }
                        @foreach (var item in Model)
                        {
                            i = i + 1;

                            <tr>
                                <td>
                                    @i
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Subject)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Message)
                                </td>
                                <td>
                                    @Html.ActionLink("Reply", "Reply", new { /* id=item.PrimaryKey */ }) |
                                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
    <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br />
</section>
