<!DOCTYPE html>
<html>
<head>
    <!--
     <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>@ViewBag.Title - My ASP.NET Application</title>
    important meta tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Title -->
    <title>MarketPlace</title>

    <!-- Basic SEO -->
    <meta name="description" content="Creative website development with html5, css3, jQuery & bootstrap framework">
    <meta name="keywords" content="HTML5, CSS3, JQuery, Bootstrap, Web Design, Web Development, Responsive website, Creative website">
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/favicon.ico">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    @Styles.Render("~/Content/css")
    <!-- Responsive Tabs CSS -->
    <link rel="stylesheet" href="~/content/responsive-tabs/responsive-tabs.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/content/animate/animate.css">

    <link rel="stylesheet" href="~/content/animate/animate.min.css">

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/content/responsive.css">

    <!--admin Custom style -->
    <link rel="stylesheet" href="~/content/Site.css">

    <!--bootstrap style -->
    <link rel="stylesheet" href="~/content/bootstrap/bootstrap.css">

    <link rel="stylesheet" href="~/content/bootstrap/bootstrap.min.css">

    <!--fontAwesome -->

    <link rel="stylesheet" href="~/Content/font-awesome.min.css">



</head>
<body data-spy="scroll" data-target=".navbar" data-offset="65">
    <!-- Header -->
    <header>
        <nav class="navbar navbar-fixed-top">
            <div class="container-fluid">
                <div class="site-nav-wrapper">
                    <div class="navbar-header">
                        <!-- Mobile Menu Open Button -->
                        <span id="mobile-nav-open-btn">&#9776;</span>
                        <!-- Logo -->
                        <a href="" class="navbar-brand">
                            <img src="../img/home/top-logo.png" alt="logo">
                        </a>


                    </div>
                    <!-- Main Menu -->
                    <div class="container">
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav pull-right">

                                <li>@Html.ActionLink("Search Note", "SearchNote", "Home")</li>
                                <li><a href="/User/Addnote">Sell Your Notes</a></li>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li><a href="/User/BuyerRequest">Buyer Request</a></li>

                                }
                                <li>@Html.ActionLink("faq", "faq", "Home")</li>
                                <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                                @if (User.Identity.IsAuthenticated)
                                {

                                    <li class="mynav-dropdown" style="margin-top:3px; margin-right:10px; padding:0px">


                                        <img class="img-responsive img-circle dropdown-toggle" src="../img/dashboard/user-img.png" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" alt="user" />
                                        <div class="dropdown-menu dropdown-menu-right photo-dropdown">
                                            <button class="text-left dropdown-item nav-dropdown-item" onclick="location.href='/User/Profile'">MY Profile</button>
                                            <button class="text-left dropdown-item nav-dropdown-item" onclick="location.href='/User/downloads'">My Downloads</button>
                                            <button class="text-left dropdown-item nav-dropdown-item" onclick="location.href='/User/soldNotes'">My Sold Note</button>
                                            <button class="text-left dropdown-item nav-dropdown-item" onclick="location.href='/admin/manageNoteType'">My Rejected Notes</button>
                                            <button class="text-left dropdown-item nav-dropdown-item" onclick="location.href='/admin/manageCountry'"> Change Password</button>

                                            <button class="text-left dropdown-item nav-dropdown-item dd-logout" onclick="location.href='/admin/manageCountry'">LOGOUT</button>
                                        </div>

                                    </li>
                                    <li><Button class="btn btn-work" onclick="location.href='Login/Logout'" style="margin-top:8px">Logout</Button></li>


                                }
                                else
                                {
                                    <li><Button class="btn btn-work" onclick="location.href='/Login'" style="margin-top:8px">Login</Button></li>
                                }

                            </ul>
                        </div>
                    </div>
                    <!-- Mobile Menu -->
                    <div id="mobile-nav">
                        <!-- Mobile Menu Close Button -->
                        <span id="mobile-nav-close-btn">&times;</span>
                        <div id="mobile-nav-content">
                            <ul class="nav">
                                <li><a href="search-notes.html">Search Notes</a></li>
                                <li><a href="dashboard.html">Sell Your Notes</a></li>
                                <li><a href="faq.html">FAQ</a></li>
                                <li><a href="contact-us.html">Contact Us</a></li>
                                <li><a href="login.html"><button type="button" class="btn btn-work btn-login smooth-scroll">Login</button></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!-- Header Ends -->
    <div>
        <div id="preloader">
            <div id="status">&nbsp;</div>
        </div>
        @RenderBody()
    </div>
    <!-- footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <p>
                        Copyright &copy; Tatvasoft All rights reserved.
                    </p>
                </div>
                <div class="col-md-6 col-sm-6 text-right">
                    <ul class="pagination social">

                        <li><a href="#"><img src="../../img/footer/facebook.png" alt=""></a></li>
                        <li><a href="#"><img src="../../img/footer/linkedin.png" alt=""></a></li>
                        <li><a href="#"><img src="../../img/footer/twitter.png" alt=""></a></li>

                    </ul>
                </div>
            </div>
        </div>
        <!-- Back To Top -->
        <!-- <a href="#home" id="back-to-top" class="btn btn-sm btn-general btn-back-to-top smooth-scroll hidden-sm hidden-xs" title="home" role="button">
                <i class="fa fa-angle-up"></i>
            </a> -->
    </footer>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

    <script src='@Url.Content("~/Scripts/jquery-3.3.1.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Scripts/jquery.validate.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")' type='text/javascript'></script>


    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/custom/admin-script.js"></script>
    <script src="~/Scripts/responsive-tabs/jquery.responsiveTabs.min.js"></script>

</body>
</html>